
body {
	height: 100%;
	background-color: #00BF4B;
}

/*Set the navbar color to green */ 
.navbar-inverse .navbar-inner {
	background-color: #003314;
	background-image: none;
}

.main-form {
	margin-left: auto;
	text-align: center;
}

.map-content {
	margin:	30px auto;
	/*padding-top: 15px;*/
}

#map-canvas {
	margin-top: 25px;
	height: 600px;
	border: 1px solid;
}